# Telegram Bot Configuration
BOT_TOKEN=8371709848:AAE7NmVzdQ3Ix7HI__WJUUhlyoLAtgOkHdo

# Groq API Configuration
GROQ_API_KEY=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

# Skill Rack Credentials (saved for auto-login)
SKILLRACK_USERNAME=your_sec24am004@sairamce
SKILLRACK_PASSWORD=your_Jerold-2006
